*{
    margin: 0;
    padding: 0;
}

.myname {
    color: rgb(238, 247, 238);
    /* border:5px  rgb(17, 19, 15) solid; */
    background-color: rgb(64, 63, 66);
    /* margin-top: 20px; */
    
  
}

.coolsubtitl{
    font-size: 25px;
    position: absolute;
    right: 50px;
    width: fit-content;
    margin-top: 70px;
    

    background: rgb(200, 214, 214);
    margin-left: 1000px;
}
.Avatar_img{
   align-items: center;
    width:95px;
    border-radius:50%;
}    
.linknavgation{
    font-size: 30px;
    margin-bottom: -90px;
    margin-right: 200px;
  
    
    }
    header {
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        padding-top: 0px;
    }
    a {
        padding: 0 15px ;
        margin-left: 100px;
        color: rgb(27, 27, 114);
    }
    .underhead{
        height: 100px;
        width: flex;
        border: 5px black solid;
        background-image: url("pic.jpg");
        background-size: contain;
        position: relative;
        
    }
    .row {
        margin-left: -24px;
        margin-right: -24px;
     /* border: 5px rgb(124, 33, 33) solid; */
   
   
     flex-direction: row;
    flex-wrap: wrap;
     display: flex;
     flex: 100%;
    
    }
    .figure_card{
     /* border: 5px rgb(48, 22, 165) solid; */
     flex: 1 0 0;
     display: flex;

    }

    .aboutme {
        margin: 80px;
       /* border: 5px green solid; */
        width: max-content;
        font-weight: bold;
        font-size: 50px; 
       
        top: 0px;
        margin-left:80px; 
    
    }
    .vertical_side_line1{
        margin: -6px;
        border-left: 10px solid blue;
        /* border-left-width:10px;
       
       
        
       
        border-left-color: 5px blue solid;
        width: 5px;
        height: 200px;
        line-height: 50px;
        margin:210px;
        margin-top:0px;
        margin-left:225px; */
    
        
    }
    .infome{
        margin: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
        
        /* height: 100%; */
      
        /* margin-bottom: 100px; */
        /* right: 0; */
        /* top: 5px; */
        /* border: 5px green solid;  */

    }
    .space_btween_section{
        border:8px white solid;
    }
    .row1{
        /* border: 5px rgb(75, 211, 120) solid; */
        margin-left: -24px;
        margin-right: -24px;
     /* border: 5px rgb(124, 33, 33) solid; */
     flex-direction: row;
    flex-wrap: wrap;
     display: flex;
     flex: 100%;
       
    
    }
    .cards-container{
        margin: 10px;
    }

    .figure_work{
        flex: 1 0 0;
        display: flex;

    }
  
    .work {
        /* border: 5px rgb(136, 35, 35) solid; */
        margin: 80px;
        /* width: max-content; */
        /* height: max-content; */
        font-weight: bold; 
        font-size: 50px;   
        /* margin-left: 70px;  */
        /* margin-top: 150px;   */

    }
    .vertical_side_line2{
        border-left: 10px solid blue;  
        margin: 4px;
    }
    .pro{
        font-size: xx-large;
        /* border: 10px rgb(11, 10, 15) solid; */
        margin: 20px;
        
    }
    .row_pro{
        display: flex;
        overflow: visible;
        flex: 1 0 50%;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        flex-direction: row;
        align-items: center;
        margin: 50px;
    }

    .card_Project{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex:1 0 50%;

    }
    
    .row2{
        /* border: 10px  rgb(65, 38, 163) solid; */
        margin-left: -24px;
        margin-right: -24px;
         /* border: 5px rgb(124, 33, 33) solid; */
         flex-direction: row;
        flex-wrap: wrap;
         display: flex;
         flex: 100%;
      
    
    
    }
    .contact_container{
        margin: 10px;
    }
    .figure_contact{
        flex:1 0 0;
        display: flex;
    }
    .contact{
        margin: 80px;
        font-weight: bold;
        font-size: 40px;
    }

    .vertical_side_line3{
        border-left: 10px solid blue;
        margin-left: -21px;
    } 


    .contactlinks{
        /* border: 1px  rgb(65, 38, 163) solid; */
        display: inline-block;
        margin-left: 70px;
        padding: 25px;
       width: max-content;
       height: max-content;
        font-weight: bold;
         font-size: 25px;    
         text-align:center;
         margin-top: 130px;
}


   .footer {
    text-align: center;

}

.project_img{
    border: 4px burlywood solid;
    align-items: center;
    width: 900px;
    height: 500px;
    image-resolution: 300px;
   
}
/*   
    .contact { text-align: left;
        border: 5px rgb(42, 148, 60) solid;
    
    
       
     
        width: max-content;
        height: max-content;
          
        margin-left: 70px; 
        margin-top:0px;  */


        
        
   
   /* }

