
*{
    margin: 0;
    padding: 0;
}
.body{
    display: block;
   
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-top: 0px;
}
a {
    padding: 0 15px ;
    margin-left: 100px;
}
.linknavgation{
  
margin-bottom: -90px;
margin-right: 200px;

}

.underhead{
    height: 100px;
    width: flex;
    border: 5px black solid;
    background-image: url("pic.jpg");
    background-size: contain;
    position: relative;
    
}

.myname {
    color: rgb(238, 247, 238);
    border:5px  rgb(17, 19, 15) solid;
    background-color: rgb(6, 2, 10);
}
.coolsubtitl{
    font-size: 25px;
    position: absolute;
    right: 50px;
    width: fit-content;
    margin-top: 70px;
    

    background: rgb(200, 214, 214);
    margin-left: 1000px;
} 
h4 {
    color: rgb(31, 24, 18);

}


.projects{ height: 100px;
    width: 20px;
    border: 5px darkgreen;

}
.row{
    margin-top: 50px;
 /* border: 5px rgb(124, 33, 33) solid; */
 width: flex ;
 height: 200px;
 position: relative;
 display: block;

}

.aboutme {
    border: 5px green solid;
    width: max-content;
    font-weight: bold;
    font-size: 50px; 
    position:absolute; 
    top: 0px;
    margin-left:80px;

}
.vertical_side_line1{

    /* border-left: 10px solid blue; */
    /* border-left-width:10px; */
    /* border-left-style:solid; */
    /* border-left-color:blue; */
    background-color: rgb(5, 15, 71);
    /* border-left-color: 5px blue solid; */
    width: 5px;
    height: 200px;
    /* line-height: 50px; */
    margin:210px;
    margin-top:0px;
    margin-left:225px;

    
}
.infome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    /* border: 10px rgb(221, 62, 62) solid; */
    width: 80%;
    height: 100%;
    position:absolute;
    right: 0;
    top: 5px;
}


.row1{
    border: 10px rgb(72, 189, 111) solid;
    width: flex;
    height: 600px;
    /* height: 100%; */
    position: relative;
    display: block;
}  
.work {
    border: 10px rgb(136, 35, 35) solid;
    width: max-content;
    height: max-content;
    font-weight: bold;
    font-size: 50px;   
    margin-top: 150px; 
    position:absolute;
    top: 0px;
} 
.vertical_side_line2{
   
    background-color: rgb(126, 24, 83);
    border-color: 5px blue solid;
    width: 150px;
    /* height: 700px; */
    /* line-height: 50px; */
    margin:0px;
    /* margin-top:150px; */
    /* margin-left:225px; */
   

    
}
.pro{
    font-size: xx-large;
    border: 10px rgb(11, 10, 15) solid;
    width: 80%;
    height: 100%;
    position:absolute;
    right: 0;
    top: 0;
    
}
.cardProject2{
    display:inline;
    border:5px red solid;
    
}
.row2{
    border: 10px  white solid;
    width: Flex max-content;
    height: 150px;
    margin-left: flex;

}  
.row2 {
    background-image: url(pic.jpg);
     
}
.vertical_side_line3{
    
}
.contact { text-align: left;
    
     padding: 25px;
     font-weight: bold;
     font-size: 50px;
     color: white;
     
     

}
a{
    color: white;
}
.contactlinks{
    

 
    margin-left: 250px;
    font-weight: bold;
    font-size: 25px;    
    text-align: center; 
    
}


.footer {
    text-align: center;

}
.footerline{
    border-left: 10px;
   
}
/* from test code  */
.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .card img {
    width: 100%;
    min-width: 400px;
  }